@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Neue Metana SB';
    src: url(../../../assets/fonts/NeueMetana-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Neue Metana OT';
    src: url(../../../assets/fonts/NeueMetana-Outline.otf) format('opentype');
}

@font-face {
    font-family: 'Integral CF';
    src: url(../../../assets/fonts/IntegralCF-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Dirtyline';
    src: url(../../../assets/fonts/Dirtyline36daysoftype.otf) format('opentype');
}